footer.footer
    .footer_column
        a(href="../page/mywork.php").footer__row.robotoMedium Мои работы
        a(href="../page/about.php").footer__row.robotoMedium Обо мне
        a(href="../page/blog.php").footer__row.robotoMedium Блог
        a(href="../page/authorization.php").footer__row.robotoMedium Авторизация
           .footer__row.marginLeftAuto
               a(href="https://www.facebook.com/sanek.maloff",target="_blank").wellcome__linkForSvg
                   svg.footer__svg
                       use(xlink:href="../image/sprite.svg#icon--Facebook",target="_blank")
               a(href="https://github.com/malahovaleksandr").wellcome__linkForSvg
                   svg.footer__svg
                       use(xlink:href="../image/sprite.svg#icon--github" )
               a(href="https://vk.com/id6734152", target="_blank").wellcome__linkForSvg
                   svg.footer__svg
                       use(xlink:href="../image/sprite.svg#icon--vk" )


    .footer_column
