header.header__page
    .header__links
        a(href="https://www.facebook.com/sanek.maloff",target="_blank").wellcome__linkForSvg
            svg.wellcome__svg
                use(xlink:href="../image/sprite.svg#icon--Facebook",target="_blank")
        a(href="https://github.com/malahovaleksandr").wellcome__linkForSvg
            svg.wellcome__svg
                use(xlink:href="../image/sprite.svg#icon--github" )
        a(href="https://vk.com/id6734152", target="_blank").wellcome__linkForSvg
            svg.wellcome__svg
                use(xlink:href="../image/sprite.svg#icon--vk" )
    .header__blockClose
        .blockClose_line