footer.footer
    .footer_column
        .footer_block_forLink
            a(href="../page/mywork.php").footer__row.robotoMedium Мои работы
            a(href="../page/about.php").footer__row.robotoMedium Обо мне
            a(href="../page/blog.php").footer__row.robotoMedium Блог
            a(href="../page/authorization.php").footer__row.robotoMedium Авторизация
        .footer__row.marginLeftAutoPhone
               a(href="https://www.facebook.com/sanek.maloff",target="_blank").block__linkForSvg
                   svg.footer__svg
                       use(xlink:href="../image/sprite.svg#icon--Facebook")
               a(href="https://github.com/malahovaleksandr",target="_blank").block__linkForSvg
                   svg.footer__svg
                       use(xlink:href="../image/sprite.svg#icon--github" )
               a(href="https://vk.com/id6734152", target="_blank").block__linkForSvg
                   svg.footer__svg
                       use(xlink:href="../image/sprite.svg#icon--vk" )


    .footer_column
        .footer__text © Александр Малахов | 2016
//script(src="https://code.jquery.com/jquery-2.2.4.js",integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=",crossorigin="anonymous")

script(src="../js/jquery.js", type="text/javascript")
script(src="../js/main.js", type="text/javascript")



script(src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDPS7Xoznf9yJs6khW0ODkFuRGMKznCpI0")






