doctype HTML
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport"  content="width=device-width, initial-scale=1.0")
        meta( name="description", content="Портфолио веб-разработчика Малахова Александра")
        meta( name="keywords", content="Сайт, написать сайт, заказать сайт")
        //link(el="shorcut icon" href="../favicon.ico" type="image/x-icon")
        //link(rel="icon" href="../favicon.ico" type="image/x-icon")
        title Портфолио- Обо мне
        link(rel="stylesheet" href="../css/main.css")

    body
        .wrapperBlueWall
            .blueWall__leftSide
            .blueWall__rightSide

            .blueWall_menuLink
                a(href="mywork.php").blueWall_link.BERNIERRegular Мои Работы
                a(href="blog.php").blueWall_link.BERNIERRegular Блог
                a(href="about.php").blueWall_link.BERNIERRegular.doubleDash Обо мне
                a(href="authorithation.php").blueWall_link.BERNIERRegular Авторизация
        main.wrapperAboutPage

            section.pageAbout__Desctop
                .verticalParrallaxWpap
                    .vertParralax_layer.parralax_layer1
                    .vertParralax_layer.parralax_layer2
                    .vertParralax_layer.parralax_layer3
                    .vertParralax_layer.parralax_layer4
                    .vertParralax_layer.parralax_layer5
                    .vertParralax_layer.parralax_layer6
                    .vertParralax_layer.parralax_layer7
                    .vertParralax_layer.parralax_layer8
                    .vertParralax_layer.parralax_layer9
                    .vertParralax_layer.parralax_layer10

                include add/header
                .imagePortfolio
                    svg.svg_portfolio
                        use(xlink:href="../image/sprite.svg#icon--portfolio_header").svg_portfolio


                .blockPresent
                    .blockPresent__photo
                        img(src="../image/my_photo.jpg", alt="фото автора").img__photoAvtar
                    .blockPresent__name.robotoMedium Александр Малахов
                    .blockPresent__text.robotoLight Личный сайт веб-разработчика
                .triangleDouble
                    svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1000 85", preserveaspectratio="none", class="svg_triangleDouble")
                        polygon( points="0,0   0,86   500.8,86   500.8,75.5")
                        polygon( points="1000,0   1000,86   500,86   500,75.5")
            section.pageAbout__Desctop.pageAbout__Desctop2
                .blockHalfWidth
                    .image_text_svg
                        svg.svg_about
                            use(xlink:href="../image/sprite.svg#icon--about_header").svg_about
                    .blockHalfWidth__titleText.BERNIERRegular.doubleDash ОБО МНЕ
                    .blockPhoto
                        img(src="../image/my_photo.jpg", alt="фото автора").blockPhoto__image
                    .blockHalfWidth__titleText2.BERNIERRegular.doubleDash КТО Я
                    .blockHalfWidth__text.
                        На этой земле бегаю уже 29 лет. Я с Украины родом.
                         Чем я только не занимался?! Первый источник доходов
                         это игра в футбол! Кто то платит чтоб смотреть футбол,
                          я же получал деньги за то ,что играл! Потом продажа
                          телефонов (когда еще были черно-белые даже).
                          Потом занесло на пол года в США красить дома и
                          есть фастфуд. Следующий шаг в работе - это промышленный
                          альпинизм!!! Работал долго и интересно на высоте,
                           где летают только птицы и большинство людей боиться
                           смотреть вниз. Пришлось сменить эту работу и начал
                            заниматься шитьем кожаных изделий: ремни, кошельки, сумки и т.д.
                    .blockHalfWidth__text.
                            А вот следующая и пока последняя сфера деятельности - это уже веб разработка!И тут я стараюсь развиваться как могу! Этот сайт - моя визитная карточка.


                .blockHalfWidth.marginLeft30
                    .blockHalfWidth__titleText2.BERNIERRegular.doubleDash ЧЕМ Я МОГУ БЫТЬ ВАМ ПОЛЕЗЕН
                    .blockHalfWidth__text.width60 Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                    .column.robotoMedium.HalfWidth__circleTitle Frontend
                    .column
                    .column.robotoMedium.HalfWidth__circleTitle Backend
                    .column
                    .column.robotoMedium.HalfWidth__circleTitle Workflow
            section.pageAbout__Desctop.pageAbout__Desctop3
                #js_connectMap.block__map
                .block_withInfo
                        .blockHalfWidth__titleText2.BERNIERRegular.doubleDash.alignCenter  КОНТАКТЫ
                        .columnFlex
                            .rowSvg
                                svg.svg_block_withInfo.svg_iconSocial
                                    use(xlink:href="../image/sprite.svg#icon--skype").svg_block_withInfo
                            .rowText.robotoMedium  pro100_boy
                        a(href="mailto:pro100boy@gmail.com",target="_blank").columnFlex
                            .rowSvg
                                svg.svg_block_withInfo.svg_iconSocial
                                    use(xlink:href="../image/sprite.svg#icon--envelope2").svg_block_withInfo
                            .rowText.robotoMedium  pro100boy@gmail.com

                        a(href="tel:+380631275355").columnFlex
                            .rowSvg
                                svg.svg_block_withInfo.svg_iconSocial
                                    use(xlink:href="../image/sprite.svg#icon--phone2").svg_block_withInfo
                            .rowText.robotoMedium  +38(063) 12 75 355
                        .columnFlex
                            .rowSvg
                                svg.svg_block_withInfo.svg_iconSocial
                                    use(xlink:href="../image/sprite.svg#icon--map_marker").svg_block_withInfo
                            .rowText.robotoMedium  Украина, г.Киев



                include add/footer
       // script(async defer).
            google.maps.event.addDomListener(window, 'load', init);
            var map;
            function init() {
                var mapOptions = {
                    center: new google.maps.LatLng(50.5024, 30.492495),
                    zoom: 12,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.DEFAULT,
                    },
                    disableDoubleClickZoom: true,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    },
                    scaleControl: true,
                    scrollwheel: true,
                    panControl: true,
                    streetViewControl: true,
                    draggable: true,
                    overviewMapControl: true,
                    overviewMapControlOptions: {
                        opened: false,
                    },
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                }
                var mapElement = document.getElementById('js_connectMap');
                var map = new google.maps.Map(mapElement, mapOptions);
                var locations = [
                    ['Я', 'undefined', 'undefined', 'undefined', 'undefined', 50.507087, 30.497258, 'https://mapbuildr.com/assets/img/markers/hollow-pin-blue.png']
                ];
                for (i = 0; i < locations.length; i++) {
                    if (locations[i][1] == 'undefined') {
                        description = '';
                    } else {
                        description = locations[i][1];
                    }
                    if (locations[i][2] == 'undefined') {
                        telephone = '';
                    } else {
                        telephone = locations[i][2];
                    }
                    if (locations[i][3] == 'undefined') {
                        email = '';
                    } else {
                        email = locations[i][3];
                    }
                    if (locations[i][4] == 'undefined') {
                        web = '';
                    } else {
                        web = locations[i][4];
                    }
                    if (locations[i][7] == 'undefined') {
                        markericon = '';
                    } else {
                        markericon = locations[i][7];
                    }
                    marker = new google.maps.Marker({
                        icon: markericon,
                        position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                        map: map,
                        title: locations[i][0],
                        desc: description,
                        tel: telephone,
                        email: email,
                        web: web
                    });
                    link = '';
                }

            }




