doctype HTML
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport"  content="width=device-width, initial-scale=1.0")
        meta( name="description", content="Портфолио веб-разработчика Малахова Александра")
        meta( name="keywords", content="Сайт, написать сайт, заказать сайт")
        //link(el="shorcut icon" href="../favicon.ico" type="image/x-icon")
        //link(rel="icon" href="../favicon.ico" type="image/x-icon")
        title Портфолио- Мои работы
        link(rel="stylesheet" href="../css/main.css")

    body
        .wrapLoader
            .blockPercent
            .percentCurent 01
        .wrapperBlueWall
            .blueWall__leftSide
            .blueWall__rightSide

            .blueWall_menuLink
                a(href="mywork.php").blueWall_link.BERNIERRegular Мои Работы
                a(href="blog.php").blueWall_link.BERNIERRegular.doubleDash Блог
                a(href="about.php").blueWall_link.BERNIERRegular Обо мне
                a(href="authorithation.php").blueWall_link.BERNIERRegular Авторизация
        main.wrapperAboutPage

            section.pageAbout__Desctop
                .verticalParrallaxWpap
                    .vertParralax_layer.parralax_Allimage

                include add/header
                .imagePortfolio
                    svg.svg_portfolio
                        use(xlink:href="../image/sprite.svg#icon--portfolio_header").svg_portfolio


                .blockPresent
                    .blockPresent__photo
                        img(src="../image/my_photo.jpg", alt="фото автора").img__photoAvtar
                    .blockPresent__name.robotoMedium Александр Малахов
                    .blockPresent__text.robotoLight Личный сайт веб-разработчика
                .triangleDouble.fillWihte
                    svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1000 85", preserveaspectratio="none", class="svg_triangleDouble")
                        polygon( points="0,0   0,86   500.8,86   500.8,75.5")
                        polygon( points="1000,0   1000,86   500,86   500,75.5")
            .wrap__titleName.flexCenterContext.background_white1.height100px
                .blockHalfWidth__titleText

            section.pageBlog__Desctop
                aside.column__1_blog.js_static
                        .invisible_menu
                        ul.ul_column__1_blog.js_ul_menu
                            li(data-id="thema1").column__1_blog__line.activeStroke_blogThema
                                a(href="#thema1").column__1_blog__line Интересное в SASS
                            li(data-id="thema2").column__1_blog__line
                                a(href="#thema2").column__1_blog__line Прыжки в Небо
                            li(data-id="thema3").column__1_blog__line
                                a(href="#thema3").column__1_blog__line  Есть мечта - верь!
                .column__2_blog
                    .block__column__2_blog(data-section="thema1")#thema1
                        .column__2__title.BERNIERRegular Интересное в SASS
                        .column__2__date.robotoLight 20 июля 2016
                        .column__2__text.robotoRegular.
                            Таким образом начало повседневной работы по формированию
                            позиции позволяет выполнять важные задания по разработке
                            направлений прогрессивного развития. Разнообразный и богатый
                            опыт новая модель организационной деятельности играет важную
                            роль в формировании новых предложений. Товарищи! новая модель
                             организационной деятельности играет важную роль в формировании
                              систем массового участия. Не следует, однако забывать,
                              что укрепление и развитие структуры обеспечивает широкому
                               кругу (специалистов) участие в формировании систем
                               массового участия. Идейные соображения высшего порядка,
                               а также рамки и место обучения кадров обеспечивает
                                широкому кругу (специалистов) участие в формировании
                                позиций, занимаемых участниками в отношении поставленных
                                 задач. Товарищи! постоянный количественный рост и сфера
                                  нашей активности способствует подготовки и реализации
                                  модели развития. С другой стороны рамки и место обучения
                                  кадров влечет за собой процесс внедрения и модернизации
                                  системтемы обучения кадров, соответствует насущным
                                  потребностям.
                    .block__column__2_blog(data-section="thema2")#thema2
                        .column__2__title.BERNIERRegular Прыжки в Небо
                        .column__2__date.robotoLight 23 июля 2015
                        .column__2__text.robotoRegular.
                            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    .block__column__2_blog(data-section="thema3")#thema3
                        .column__2__title.BERNIERRegular Есть мечта - верь!
                        .column__2__date.robotoLight 20 августа 2015
                        .column__2__text.robotoRegular.
                            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                .fixed_menu





                include add/footer




